<!doctype html>
<html ng-app="unbottled">

<head>
	<title>
		Unbottle your water!
	</title>

	<!---- CSS, jQuery and Bootstrap CSS and JS ---->
	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

	<!-- Our CSS files -->
	<link rel="stylesheet" type="text/css" href="css/layout.css">

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

	<!-- Bootstrap css -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Bootstrap js -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>

<body ng-controller="UnbottledController">

<!--popup-window-modal-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title" id="myModalLabel">Thanks for voting!</h4>
        </div>
        <div class="modal-body">
          <h4>Your vote helps contribute to making water free and more accessible!</h4>
          <h4>Do you know that?</h4>
		<div id="message"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>


<!-- Facebook Share Button-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- Facebook Share Button-->

<!-- Twitter link-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<!-- Twitter link-->

<nav class="container-fluid" id="nav">
	<div class="row">
		<div class="col-md-12">
			<p><img src="images/unbottled-logo.png" /></p>
		</div>
	</div>
</nav>

<div id="wrap" class="container">
	<div class="row">
		<!-- Top school -->
		<div id="section-topSchool" class="section col-md-12" style="text-shadow: 1px 1px 0px #fff">
			<br />
			<br />
			<br />
			<p><img src="images/top-star.png" /><br />
			<strong>A.Y. Jackson Secondary School</strong> is in support of unbottled water!</p>

			<p style="font-size: smaller; line-height: 1.2em; font-style: italic">&ldquo;884 million people in the world lack access to safe water supplies.&rdquo;</p>
			</div><!-- /section-topSchool -->
		</div>


		<!-- Search schools -->
		<div class="row">
			<div id="section-searchSchool" class="section col-md-12">

				<h1>Let people know that you support your school!</h1>

				<form>
					<select name="schoolList" id="list_schools">

						<option ng-repeat="school in WaterInfo"  value="school_{{school.id}}">{{school.School}}</option>

					</select>
				</form>

				<!--select ng-model="schoolChoice">
					<option ng-repeat="school in schools" value="{{school.id}}">{{school.name}}</option>
				</select>

				<select ng-model="schoolChoice">
					<option ng-repeat="school in schools" value="{{school.id}}">{{school.name}}</option>
				</select-->

			</div><!-- /section-searchSchools-->
		</div>

		
		<!-- List all schools participating
		- Current statistic (rating)
		- Option to vote up, vote down
		- Share statistics with Facebook 
		- Share statistics with Twitter -->
		<div class="row">
			<div id="section-listSchools" class="section col-md-12">

				<h1>Current rankings</h1>

				<!-- School item -->
				<div class="school-item" ng-repeat="school in WaterInfo"><a name="school_{{school.id}}"></a>
					<div class="school-rank">
						<strong>Rank:</strong><br />
						<!--Temporary-->	{{$index + 1}}
					</div>

					<div class="school-name">
						<strong>{{school.School}}<span class="score-number">(score: {{school.Score}})</span></strong>
					</div>

					<div class="school-vote">
						<a href="#upvote" class="" data-toggle="modal" data-target="#myModal"><span class="btnClick glyphicon glyphicon-hand-up"> </span></a>

						<a href="#downvote" data-toggle="modal" data-target="#myModal"><span class="btnClick glyphicon glyphicon-hand-down"> </span></a>
					</div>

					<div style="clear: both"></div>

					<div class="school-social">

						<a class="fb-share-button" data-href="http://www.cbc.ca/news/plastic-bottles-leach-chemicals-into-water-study-1.605134" data-type="link"></a> <br /><br />

						<a href="https://twitter.com/share?status=I just voted for {{school.School}}" class="twitter-share-button" data-lang="en">Tweet</a>

					</div><!-- /section-listSchools -->
				</div>

			</div>

			<footer>

				<p>Program by Soultrain Studios</p>

			</footer>

			<!---- JS ---->
			<!-- Angular CDN -->
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>

			<!-- Firebase CDN -->
			<script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>

			<!-- AngularFire CDN -->
			<script src="http://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

			<!-- Our app.js -->
			<script src='js/app.js'></script>
			<div ng-bind-html="to_trusted(WaterInfos.0.longDescription)"></div>

			<!-- Our js -->
			<!--script src='js/app.js'></script-->
			<script src='js/display.js'></script>
			<script src='js/app1.js'></script>

			<script type="text/javascript">

	//$( ".btnClick" ).click(function() {
	//	$( "#myModal" ).fadeIn();
	//});

	
</script> 

<!-- display random facts-->

<script>
      var myDataRef = new Firebase('https://waterfact.firebaseio.com/');

      var messages = [];
      myDataRef.on('child_added', function(snapshot) {
        messages.push(snapshot.val());

        var randActive = Math.floor(Math.random() * messages.length);

        displayMessage(messages[randActive].fact);
      });
      //only display newest comment
      function displayMessage(fact) {
       $('#message').text(fact);
      };
    </script>


</body>
</html>