<html ng-app="reviewApp">
<head>
	<title>Float or Sink? Unbottle the water you drink!</title>
	
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Yanone+Kaffeesatz:400,700|Open+Sans+Condensed:300,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<!-- Bootstrap css -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Bootstrap js -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<!-- Our css -->
	<link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="ReviewsController">
	<header>
		<nav>
			<!-- nav -->
		</nav>
	</header>

	<div id="wrap" class="container">

		<section id="what" class="row col-md-12">
			<h2>What is this?</h2>

			<p>780 million people lack access to clean drinking water. What about you?</p>

			<p>Search your school to see where it's sitting in this website and you'll find out more about the Unbottled initiative.</p>
		</section>

		<section id="search-add" class="row col-md-12">
			<h2>Search your school</h2>

			<p>What's this all about? Look for your school to see where it's at, and answer one simple question.<br><br>
				<select ng-model="schoolChoice">
    			<option ng-repeat="school in schools" value="{{school.id}}">{{school.name}}</option>
				</select>
		</section>

		<section id="floating" class="row col-md-12">
			<h2>Float to the top</h2>

			<p>These high schools have floated to the top. Congratulations!</p>

			<!-- School item -->
			<div class="school-item" ng-repeat="school in WaterInfo"><a name="school_{{school.id}}"></a>
				<div class="school-rank">
					<strong>Rank:</strong><br />
					<!--Temporary-->
					{{$index + 1}}
				</div>

				<div class="school-vote">
					<a href="#vote"><span class="glyphicon glyphicon-thumbs-up"> </span></a>
				</div>

				<div style="clear: both"></div>

				<div class="school-social">


					<a class="fb-share-button" data-href="http://www.cbc.ca/news/plastic-bottles-leach-chemicals-into-water-study-1.605134" data-type="link">Share on Facebook</a> | 

					<a href="https://twitter.com/share?status=I just voted for {{school.School}} #unbottled" class="twitter-share-button" data-lang="en">Tweet</a>

				</div>
			</div><!-- / School item -->

		</section>

		<section id="sinking">
			<h2>Sink to the bottom</h2>
			<p>Here are the high schools who are still sinking to the bottom&hellip;</p>
			<div class="school-name" ng-repeat="school in schools">
					{{school.name}}
				</div>
				
  <label>Does your school use bottled water?</label>
  <br>
  <label>Yes</label>
  <input type="radio" name="poll" ng-model="poll" value="1">
  <label>No</label>
  <input type="radio" name="poll" ng-model="poll" value="0">
  <br>

  <input type="submit" value="Vote" ng-click="saveData()">

  <div>
    <ul>
      <li ng-repeat="school in schools" ng-if="school.id == schoolChoice">
        <h3>{{school.name}}</h3>
          <ul>
            <li>Total votes: {{school.totalVotes}}</li>
            <li>Yes votes: {{school.yesVotes}}</li>
            <li>No votes: {{school.noVotes}}</li>
          </ul>
      </li>
    </ul>
		</section>
	</div>

	<footer>
		<!-- footer -->
	</footer>
	<!-- js -->
	<!-- Angular CDN -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>

	<!-- Firebase CDN -->
	<script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>

	<!-- AngularFire CDN -->
	<script src="http://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

	<!-- Our js -->
	<script src='js/display.js'></script>
	<script src='js/app.js'></script>
</body>
</html>