<html ng-app="reviewApp">
<head>
	<title>Unbottled</title>
	
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Yanone+Kaffeesatz:400,700|Open+Sans+Condensed:300,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<!-- Bootstrap css -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Bootstrap js -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<!-- Our css -->
	<link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="ReviewsController">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=174175329329604&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<header>
		<nav>

			<img src="images/unbottled-logo.png" />
			<!-- nav -->
		</nav>
	</header>

	<div id="wrap" class="container">

		<section id="what" class="row col-md-12">

			<h2>What is this?</h2>

			<p>780 million people lack access to clean drinking water. What about you?</p>

			<p>Search your school to see where it's sitting in this website and you'll find out more about the Unbottled initiative.</p>
		</section>
		

		<section id="school-vote" class="row col-md-12">

			<h1>unbottle your water</h1>

			<p>do you buy water from your school?

			<select ng-model="schoolChoice">
				<option ng-repeat="school in schools" value="{{school.id}}">{{school.name}}</option>
			</select>

			<br /><br />
			
			<a href="#upvote" ng-click="castvote(1)"><span class="glyphicon glyphicon-hand-up"> </span></a>

			<a href="#upvote" ng-hide="alreadyVoted" ng-click="castvote(1)"><span class="glyphicon glyphicon-hand-up"> </span></a>

			<a href="#downvote" ng-click="castvote(0)"><span class="glyphicon glyphicon-hand-down"> </span></a>

			</p>

			<!--div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="link"></div-->

		</section>

		<section id="sink-start"></section>
				
		<section id="school-list" class="row col-md-12">

			<h1>Schools...</h1>

			<article class="school-item" ng-repeat="school in schools">

				<div class="school-rank">{{school.yesVotes}}</div>
				
				<div class="school-name">{{school.name}}</div>
				<div style="clear: both;"></div>

				<div>
					
				</div>

			</article>


		</section>

			<!--div>
				<ul>
					<li ng-repeat="school in schools">
						<h3>{{school.name}}</h3>
						<ul>
							<li>Total votes: {{school.totalVotes}}</li>
							<li>Yes votes: {{school.yesVotes}}</li>
							<li>No votes: {{school.noVotes}}</li>
						</ul>
					</li>
				</ul>
			</div-->

			<footer>
				<!-- footer -->
			</footer>

			<!-- js -->

			<!-- Angular CDN -->
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>

			<!-- Firebase CDN -->
			<script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>

			<!-- AngularFire CDN -->
			<script src="http://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

			<!-- NgCookies -->
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.min.js"></script>

			<!-- Our js -->
			<script src='js/display.js'></script>
			<script src='js/app.js'></script>
		</body>
		</html>