body {
	font-family: 'Lucida Grande', 'Arial';
}

.section h1 {
	font-family: 'Lucida Fax', 'Georgia', 'serif';
	font-size: 18pt;
}

#voted-notification {
	position: absolute;
	top: 20%;
	left: 15%;
	width: 70%;
	height: 60%;
	background-color: #FFF;
	color: #000;
	z-index: 100;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #eee;
	box-shadow: 1px 1px 5px #aaa;

	font-family: 'Lucida Grande', 'Arial';
	font-size: 12pt;
	line-height: 2em;
	text-align: center;
}

#voted-notification h1 { font-size: 18pt; }

nav {
	z-index: 101;
	position: fixed;
	background-color: #222;
	width: 100%;
	height: 100px;
}

#nav p { 
	text-align: center; 
	margin: 0;
}
#nav img {
	height: 90%;
	padding: 10px;
}

#wrap {
	font-family: 'Lucida Grande', 'Georgia';
	font-size: 16pt;
	line-height: 2em !important;
}

#section-topSchool {
	background: url('../images/top-background.jpg') no-repeat top center;
	width: 100%;
	height: 80%;
	text-align: center;
}

#section-topSchool img {
	width: 200px;
}

#section-searchSchool {
	text-align: center;
	border-bottom: 1px solid #eee;
}

#section-listSchools {
	line-height: 1em !important;
}

#section-listSchools h1 {
	text-align: center;
}

.school-item {
	margin: 5px;
	padding: 10px;
	font-size: 12pt !important;
	border-bottom: 1px solid #eee;
}

.school-rank {
	text-align: center;
	float: left;
	width: 15%;
	
	font-size: 10px;
	background-color: #EEE;
	padding: 5px;
	border-radius: 4px;
	margin-right: 5px;
}

.score-number {
	font-size: 11px;
}

.school-name {
	float: left;
	width: 55%;
	margin: 1%;
}

.school-vote {
	text-align: right;
	float: right;
	width: 25%;
}

.school-vote .glyphicon {
	font-size: 16pt;
}

.glyphicon-hand-up { color: green;}
.glyphicon-hand-down { color: red;}

.school-social {
	font-size: 10px;
	text-align: center;
	width: 100%;
}

footer {
	padding: 20px;
	background-color: #222;
	text-align: center;
	color: #eee;
	height: 100px;
	width: 100%;
}