<html ng-app="reviewApp">
<head>
  <title>Firebase 101</title>

  <!-- Firebase CDN -->
  <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>

  <!-- Angular CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

  <!-- Custom script -->
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="ReviewsController">
  <h1 id="name">This is our page title</h1>
  <p>Which school do you go to?</p>
  <select ng-model="schoolChoice">
    <option ng-repeat="school in schools" value="{{school.id}}">{{school.name}}</option>
  </select>

  <label>Does your school use bottled water?</label>
  <br>
  <label>Yes</label>
  <input type="radio" name="poll" ng-model="poll" value="1">
  <label>No</label>
  <input type="radio" name="poll" ng-model="poll" value="0">
  <br>

  <input ng-hide="poll === null" type="submit" value="Vote" ng-click="saveData()">

  <div>
    <ul>
      <li ng-repeat="school in schools" ng-if="school.id == schoolChoice">
        <h3>{{school.name}}</h3>
          <ul>
            <li>Total votes: {{school.totalVotes}}</li>
            <li>Yes votes: {{school.yesVotes}}</li>
            <li>No votes: {{school.noVotes}}</li>
          </ul>
      </li>
    </ul>
  </div>

</body>
</html>
